<div class="col border-2 border-end border-bottom p-0"> 
    <h2 class="text-center p-3 border ">
        <%= header %> 
    </h2>
    <% if(header === "Image")  { %>
        <%- include("./details/image.ejs", {image: recipe.name})  -%>
    <% } else if(header === "Ingredients") { %>
        <%- include("./details/ingredients.ejs", {recipe: recipe}) -%>
    <% } else if(header === "Description") { %>
        <p class="p-3 font-weight-normal">"<%= recipe.desc %>"</p>
    <% } else { %>
        <ul class="list-group list-group-flush  text-center mx-auto">
            <li class="list-group-item ingredients">Ingredient 1</li>
            <li class="list-group-item ingredients">Ingredient 1</li>
            <li class="list-group-item ingredients">Ingredient 1</li>
            <li class="list-group-item ingredients">Ingredient 1</li>
            <li class="list-group-item ingredients">Ingredient 1</li>
        </ul> 
    <% } %> 
        

</div>


    <!-- Buffs -->
    