<div class="filter-input input-group mb-3">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" value="">
  </div>
  <input disabled type="text" class="form-control " placeholder="<%= category %>">
</div>
