<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/copiousMeatSkewers.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Copious Meat Skewers</h5>
    </div>
</div>
  
  <!-- Use When DB Working -->
<!-- <form method="post" action="./getRecipe">
    <button class="card" style="width: 18rem;" type="submit">
        <img class="card-img-top" src="images/copiousMeatSkewers.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Copious Meat Skewers</h5>
        </div>
    </button>
</form> -->