@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap");

:root {
  --primary: #2b8091;
  --secondary: #4aadc2;
  --tertiary: rgb(95, 180, 249);
  --main-text: #ffffff;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);

}

.mainSection {
  height: 100%;
  width: 100%;
}

.navbar {
    display: block;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary);
    border: #ffffff 1px solid;
    border-left: 0;
    border-radius: 0 3% 3% 0;
    position: fixed;
    text-align: center;
    left: 0;
    width: 20%;
}
.main-logo {
    width: 100%;
    color: var(--main-text);
    font-size: 3rem;
    padding: 20px;
    font-family: "Dancing Script", cursive;
    border-bottom: 1px white solid;
}

.filter-input {
    color: var(--main-text);
    width: 75%;
    margin: 15px auto;
}


.search {
    border-bottom: 1px solid white;
    padding: 10px;
}
.search-button {
    width: 75%;
}

.user-info {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: magenta;
}

.user-info  a {
    text-align: center;
    font-size: 2rem;
}
.header {
    border-bottom: 1px var(--main-text) solid;
}

.header > h1 {
    color: var(--main-text);
    font-size: 4rem;
    padding-left:  30px;

}

.card-title {
    text-align: center;
    color: var(--main-text);
}
.card-body {
    width: 100%;
    min-height: 100px;
    background-color: var(--primary);
}
.cards {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5%;
}

main {
    padding-left: 20%;
}

main.loginsignup {
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

.btn-light, .btn-primary {
    width: 43%;
    font-weight: bold;
}

.btn-light {
    --bs-btn-color: var(--primary);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-border-color: var(--primary);
}

.btn-primary {
    --bs-btn-bg: var(--tertiary);
    --bs-btn-border-color: var(--tertiary);
}

.accordion {
    --bs-accordion-border-width: 3px;
}

.accordion-item {
    background-color: var(--primary);
}

.accordion-logo.accordion-button {
    color: white;
    font-size: smaller;
}

.accordion-button {
    font-family: "Dancing Script", cursive;
    font-size: larger;
    color: white;
    text-align: center;
    display: inline;
    background-color: var(--primary);
}

.accordion-button:not(.collapsed) {
    color: white;
    display: inline;
    background-color: var(--primary);
}

.accordion-button::after {
    display: none;
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

p, label {
    color: white;
    font-weight: bold;
}

.breadcrumb {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
    color: var(--main-text);
}

.breadcrumb  a {
     font-weight: bold;
    color: var(--main-text);
}

.detail-card {
    background-color: var(--primary);
    color: var(--main-text);
    border: 3px white solid;
}

.col {
    padding: 0;
}

.ingredients {
    background-color: var(--primary);
    color: var(--main-text);
    border-color:  var(--secondary) ;
    margin: 5px 0px;
}

.text-lg {
    font-size: 20px;
}