<%- include("layouts/header.ejs") -%>

<section class="mainSection">
    <%- include("layouts/sidebar.ejs", {categories: categories}) -%>

    <main class="recipe-section">
        <div class="breadcrumb">
            <span><a href="./">Recipes</a> > <%=recipe.name%></span>
        </div>
    </main>
  </section>


<%- include("layouts/footer.ejs") -%>
