<aside class="navbar container ">
    <div class="main-logo">
      Cook of the Wild
    </div>
    <form action="/filter" method="post">
      <div class="search">
        <input class="form-control" type="text" id="task-input" name="search" placeholder="Enter Recipe Name Here">
      </div>
    
      <% categories.forEach(category => { %>
        <% if(category != "searched") { %> 
          <%- include("../partials/filter-input.ejs", {category:category}) -%>
        <% } %>  
      <% }) %> 
      <%- include("../partials/filter-input.ejs", {category: "Favorites"}) -%>
      <input class="search-button btn btn-outline-light" type="submit" id="search" value="Search" />
    </form>
  <form action="/" method="get" class="pt-3">
    <input class="search-button btn btn-light w-75" type="submit" id="search" value="Back to Home" /> 
  </form>
    
   
    
    
    <!-- User Dropdown -->
    <!-- <div class="d-flex w-100 h-100 user-info">
      <a href="#" class="d-flex align-items-center text-white  text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <strong class="font-large">User</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </aside>